# Python
__pycache__/
*.py[cod]
*.pyo

# Scrapy
*.scrapy/
output/
feeds/

# Системные файлы
.DS_Store
Thumbs.db

# Виртуальное окружение
env/
venv/
ENV/
*.env
*.venv

# IDE
.vscode/
.idea/
*.swp
*.swo

# Логи и отладка
*.log
*.out
*.err

# Сборочные файлы
*.egg
*.egg-info/
dist/
build/
*.whl

# Общие исключения
.python-version
