# Игнорируем папки виртуального окружения
venv/
env/

# Игнорируем временные файлы
*.pyc
*.pyo
*.pyd
__pycache__/

# Игнорируем логи
*.log
*.out
*.err

# Игнорируем файлы вывода Scrapy
*.json
*.jl
*.csv
*.xml
*.sqlite

# Игнорируем настройки IDE
.idea/
.vscode/
*.sublime-workspace
*.sublime-project

# Игнорируем системные файлы
.DS_Store
Thumbs.db

# Игнорируем дополнительные файлы
.scrapy/      # Временные файлы Scrapy (кеш, баны и т.д.)
.env          # Файлы с переменными окружения
